<div class="card-category">
    Quartos
</div>
<div class="container">
    <div class="row">
        <div class="column">
            <%= image_tag "quarto.jpg", class: "image-index" %>
            <p class="card-white">Nossos quartos contam com televisão, Wi-Fi, ar-condicionado, banheiro, frigobar, cofre e secador.

Temos variadas opções de quartos, com camas de casal e de solteiro (duplas ou triplas), além de quartos especiais para pessoas com mobilidade reduzida. Consulte nossa disponibilidade.</p>
        </div>

        <div class="column">
            <%= image_tag "quarto2.jpg", class: "image-index" %>
        </div>

        <div class="column">
            <%= image_tag "quarto3.jpg", class: "image-index" %>
        </div>

        <div class="column">
            <%= image_tag "banheiro.jpg", class: "image-index" %>
            <%= image_tag "banheiro2.jpg", class: "image-index" %>
        </div>
    </div>
</div>


