<div class="card-category">
    SUA TRADICIONAL OPÇÃO NO CENTRO DO RIO
</div>
<div class="container">
    <div class="row">
        <div class="column">
            
            <%= image_tag "terreo.jpg", class: "image-index" %>
            <%= image_tag "fachada.jpg", class: "image-index" %>
        </div>
        <div class="column">
            <%= image_tag "vista.jpg", class: "image-index" %>
            <%= image_tag "vistanoite.jpg", class: "image-index" %>
        </div>
        <div class="column">
            <%= image_tag "salao2.jpg", class: "image-index" %>
            <%= image_tag "salao.jpg", class: "image-index" %>
        </div>
        <div class="column">
            <%= image_tag "vistanoite2.jpg", class: "image-index" %>
            <p class="card-white">Fundado em 1949, o Hotel OK é um dos mais tradicionais do Rio de Janeiro. Bem localizado no Centro da cidade, se situa próximo à Lapa – tradicional reduto da boemia carioca – e ao lado da estação de metrô da Cinelândia. Também apresenta fácil acesso à Zona Sul e ao aeroporto Santos Dumont.</p>
        </div>
    </div>
</div>